*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

/*CSS For Header*/

header{
	height: 110vh;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li {
	margin: 0 20px;
}

/*Styling for all buttons*/
.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-product{
	background-color: salmon;
	font-size: 15px;
	font-weight: bold;
}

#appleBtn{
	position: absolute;
	right: 100px;
	top: 15px;
	transition: .4s;
	background-color: black;
	color: white;
}

#appleBtn:hover{
	top: 12px;
	background-color: lightgray;
	color: black;
}

/*Disappearing Menu CSS*/
.submenu{
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover{
	visibility: visible;
}

.submenu > div{
	width: 25%;
}

div + div {
	border-left: 1px solid black;
}

.submenu > div > h4, .submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover{
	background-color: darkgray;
}

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1{
	font-size: 70px;
}

.header-text > h1, .header-text > p ,.header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn{
	margin-top: 20px;
	background-color: navy;
	color: white;
}
/*End CSS for Header*/

/*Start of Quote CSS*/

.quote{
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div{
	text-align: center;
	margin-top: 20px;
}
/*End of Quote CSS*/

/*Start of Content CSS*/
.content {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: flex-end;
	align-items: center;
}

.content > section {
	width:50%;
}

.content-left{
	text-align: right;
}

.content img {
	width: 550px;
	height: 300px;
}

.content-right {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.content-right > div {
	height: 300px;
	padding-right: 50px;
}

.content-right > div > div > p {
	color: gray;
	margin-bottom: 10px;
}

.content-right > div > div > h3 {
	font-size: 30px;
}

.bottom-content {
	display: flex;
}

.bottom-content > div {
	width: 50%;
}

.bottom-content > div > h1 {
	font-size: 60;
}

.bottom-content > div > h1 > span {
	font-size: 20;
	position: relative;
	bottom: 30px;
}

.bottom-content > div > p {
	font-size: 12;
	color: gray;
}
/*End of Content CSS*/

/*Start of Author CSS*/

.author {
	height: 100vh;
	display: flex;
	border: none;
	position: relative;
	align-items: center;
	text-align: center;
	align-content: center;
	color: black;
}

.author > div > p{
	color: #696969;
	margin-bottom: 10px;
}

.author > div > h3{
	font-size: 30px;
	margin-bottom: 10px;
	position: relative;
}

.holder {
	display: flex;
	margin: 50px 90px;
}

.author > div > .holder > .author1{
	height: 50vh;
	width: 25vw;
	border: 1px solid black;
	margin: 20px;
	font-size: 20px;
	padding: 30px 30px;
}

.author > div > .holder > .author2{
	height: 50vh;
	width: 25vw;
	border: 1px solid black;
	margin: 20px;
	font-size: 20px;
	padding: 30px 30px;
}

.author > div > .holder > .author3{
	height: 50vh;
	width: 25vw;
	border: 1px solid black;
	margin: 20px;
	font-size: 20px;
	padding: 30px 30px;
}


.author > div > .holder > .author1 > img{
	border-radius: 100%;
	height: 80px;
	z-index: 1;
	position: relative;
	top: 40px;
}
.author > div > .holder > .author2 > img{
	border-radius: 100%;
	height: 80px;
	z-index: 1;
	position: relative;
	top: 40px;
}
.author > div > .holder > .author3 > img{
	border-radius: 100%;
	height: 80px;
	z-index: 1;
	position: relative;
	top: 40px;
}

hr{
	color: black;
	size: 300px;
	width: 100%;
	display: block;
	margin-bottom: 30px;
}

.author > div > .holder > .author1:hover{
	position: relative;
	bottom: 15px;
	left: 15px;	
	box-shadow: 15px 15px;
	text-shadow: 5px;
	font-weight: bold;
	transition: .6s;
}	

.author > div > .holder > .author2:hover{
	position: relative;
	bottom: 15px;
	left: 15px;	
	box-shadow: 15px 15px;
	text-shadow: 5px;
	font-weight: bold;
	transition: .6s;
}	

.author > div > .holder > .author3:hover{
	position: relative;
	bottom: 15px;
	left: 15px;	
	box-shadow: 15px 15px;
	font-weight: bold;
	transition: .6s;
}	